@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

body{
    width: 60em;
    padding: 10px; 
    margin: 0 auto;
    font-family: "Poppins";
}

body > header{
    box-sizing: border-box;
    background-color: #046DD5;
    padding-top: 0.001em;
    height:9em;
    padding-left: 1em;
}

body > header h1{
    box-sizing:border-box;
    height: 0.5em;
}

body > header a{
    color: white;
    text-decoration: none;
}

body > header h2{
    box-sizing:border-box;
    height: 0.7em; 
}

body > header h2 a{
    font-weight: lighter;
}


body > header h3 {
    box-sizing: border-box;
    padding-bottom: 1em;
}

#menu ul{
    box-sizing:border-box;
    width:52em;
    padding: 1px;
    text-align:center;
    list-style: none;
}

#menu ul li{
    box-sizing:border-box;
    height: 3em;
    padding-top: 0.5em;
}

#menu ul li:first-child{
    border-top: 0.3em solid #E1493E;
}

#menu ul li a{
    color:black;
    text-decoration:none;
}

#menu ul li:nth-child(2){
    border-top: 0.3em solid #8ABA56;   
}

#menu ul li:nth-child(3){
    border-top: 0.3em solid #5B4282;   
}

#menu ul li:nth-child(4){
    border-top: 0.3em solid #FF8932;   
}

#menu ul li:nth-child(5){
    border-top: 0.3em solid #19B6E9;   
}

#menu ul li:nth-child(6){
    border-top: 0.3em solid #E84C8B;   
}

#related {
    color: white;
    background-color:#2A2F33;
    width: 50em;
    height: 21em;
    padding: 1em;
}

#related article a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}


body article p{
    font-family: "Lora";
    font-weight: lighter;
}

#related article p{
    font-size:small;
}

#news article header h1 a{
    box-sizing:border-box;
    text-decoration: none;
    position:relative;
    bottom: -1em;
    left: 1em;
    font-family: "Poppins";
    font-weight:bolder;
    font-size: x-large;
    color:white;
    text-shadow:0.1em 0.1em 0.2em black;
} 

body article footer{
    box-sizing: border-box;
    padding: 1em;
    background-color: #E1493E;
    color: white;
    font-family: "Lora";
    font-size: small;
}

body article footer span a{
    text-decoration: none;
}

body article img{
    box-sizing: border-box;
    margin-top: -4em;
    width: 52em;

}

body > footer{
    box-sizing: border-box;
    color: white;
    margin-top: 1em;
    padding-top: 0.02em;
    padding-bottom: 0.001em;
    padding-left: 1em;
    background-color: #2A2F33;
}
